.profiles--container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin: 60px 0;
        label{
            input{display: none;}
        }
        a{
            text-decoration:none;
            color:black;
        }
        .profile--container{
            margin-bottom: 10px;
            height: fit-content;
        }
     
.profile--box{
     text-align: center;
     border:1px solid black;
     padding:20px;
     margin: 20px 0;
     transition:.3s ease-in-out;
        &:hover{
        cursor:pointer;
        box-shadow:1px 1px 15px 0px;
        transition: .3s ease-in-out;
        }
    .profile--image{
        width: 207px;
        border-radius: 50%;
        overflow: hidden;
        height: 200px;
        background: #e1e1e1;

        img{
            max-width: 227px;
        }

     }

  }

}


